.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  padding-top: 20px;

  &__image {
    width: 300px;
    height: 292px;
  }

  &__pic {
    width: 100%;
    height: auto;
  }
}

@media (min-width: $mobile) {
  .content {
    padding-top: 15px;

    &__image {
      width: 466px;
      height: 453px;
    }
  }
}

@media (min-width: $tablets) {
  .content {
    padding-top: 20px;

    &__image {
      width: 682px;
      height: 662px;
    }
  }
}

@media (min-width: $notebooks) {
  .content {
    padding-top: 120px;

    &__image {
      width: 466px;
      height: 453px;
    }
  }
}
