@mixin container {
  margin: 0 auto;
  padding: 0 15px;
  width: auto;
  max-width: 100%;

  @media (min-width: 480px) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  @media (min-width: 640px) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: $tablets) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 80px;
  }

  @media (min-width: $notebooks) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 40px;
  }

  @media (min-width: $widebooks) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 40px;
  }

  @media (min-width: $large-widebooks) {
    width: auto;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 40px;
  }
}

@mixin animation {
  @-moz-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
  }
  @-webkit-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
  }
  @keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
  }
}

@mixin radio-default {
  display: block;
  vertical-align: middle;

  cursor: pointer;
  position: relative;
  padding-left: 0;
}

@mixin radio-custom {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;

  width: 149px;
  height: 34px;

  border: none;
  background-color: #000000;
  color: $text-white;
}

@mixin radio-checked {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;

  width: 149px;
  height: 34px;

  border: none;
  background-color: #ffffff;
  color: $text-black;
}

@mixin checkbox-default {
  display: block;
  vertical-align: middle;
  cursor: pointer;

  position: relative;

  padding-left: 20px;

  @media (min-width: $tablets) {
    padding-left: 40px;
  }

  @media (min-width: $notebooks) {
    padding-left: 20px;
  }

  @media (min-width: $widebooks) {
    padding-left: 30px;
  }
}

@mixin checkbox-custom {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  display: block;
  width: 20px;
  height: 20px;

  border-radius: 4px;
  border: none;
  background-color: #fff;

  @media (min-width: 480px) {
    top: -2px;
  }

  @media (min-width: 640px) {
    top: -2px;
  }

  @media (min-width: $tablets) {
    width: 30px;
    height: 30px;

    top: -3px;
  }

  @media (min-width: $notebooks) {
    width: 20px;
    height: 20px;
  }

  @media (min-width: $widebooks) {
    width: 25px;
    height: 25px;
  }

  @media (min-width: $large-widebooks) {
    top: 6px;
  }
}

@mixin checkbox-checked {
  content: "";
  position: absolute;
  top: 9px;
  left: -6px;
  display: block;
  width: 13px;
  height: 12px;

  background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4C0.4 4.4 2.83333 7.16667 4 8.5L10 0' transform='translate(1.5 1.5)' stroke='black' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 13px 12px;

  @media (min-width: 480px) {
    top: 2px;
  }


  @media (min-width: 640px) {
    top: 3px;
  }

  @media (min-width: $tablets) {
    width: 18px;
    height: 17px;

    background-size: 18px 17px;

    top: 4px;
    left: -3px;
  }

  @media (min-width: $notebooks) {
    background-size: 13px 12px;
    width: 13px;
    height: 12px;

    left: -6px;
    top: 2px;
  }

  @media (min-width: $widebooks) {
    background-size: 15px 14px;
    width: 15px;
    height: 14px;
  }

  @media (min-width: $large-widebooks) {
    top: 12px;
  }
}
